In [59]:
import numpy as np
import pandas as pd

In [60]:
salary = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')
salary.columns
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [61]:
y = salary['Salary'][:30]

x = salary[['Experience Years']][:30]
x = np.c_[np.ones((30,1)), x]  # 横向拼接 → (30,2)

In [62]:
w = np.linalg.inv(x.T.dot(x)).dot(x.T).dot(y)
w

array([25640.57264658,  9474.66455995])

In [63]:
inter, w1 = w
print(f"y={round(w1,2)}x + {round(inter)}")

y=9474.66x + 25641

In [64]:
y_test = salary['Salary'][30:40].values
x_test = salary[['Experience Years']][30:40].values
X_test = np.c_[np.ones((10,1)), x_test]
y_pred = X_test @ w
mse = np.mean((y_test - y_pred) ** 2)
print("MSE =", mse)

MSE = 22786116.657558583